/*navbar*/
nav{
Display : flex;
}

img{
    width: 90%;
    height: 90%;
}

/* Mise en place du css pour le pop-up de la map*/
#Map {
    position: relative;
}

#Overlay {
  display: none;
  position: absolute;
  width: auto;
  padding: auto;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}
