<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet" href="/workspace/site-web/Include/css/main.css">
</head>
<body>
    <h1>Carte de 1731</h1>
    <img src="/workspace/site-web/Include/img/carte.jpg" alt="Carte" usemap="#Reunion">
    <map name="Reunion">
        <area 
        shape="circle" 
        coords="590,471,140" 
        href="#St-Paul"
        target="_blank" 
        alt="St-Paul">
    </map>

    <div class="InfoMap">
        <div id="St-Paul">
            <p>
                C'est dans cette baie que sont arrivés les premiers colon
            </p>
        </div>
    </div>
</body>