<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Town</title>
  </head>
  <body>
    <div id="Caffre">
        <h3>Caffre </h3>
            <ul>
                <li>Origine</li>
                <p>
                    Les Caffres sont originaire d'Afrique du Sud. Ils arrivent sur l'île Bourbon soit en tant qu'esclave,
                    soit en tant qu'engagé mais ces cas sont très rare. Les esclaves sont nombreux a périr sur les navires.
                    Souvent à cause des rudes conditions qu'ils ont lors de la traversé de l'océan.
                </p>
                <li>Caractéristique physique</li>
                <p>
                    Ils ont une peau bleue, noir.
                </p>
                
            </ul>
    </div>

    <div>
        <p>

        </p>
    </div>
    <div>
        <p>

        </p>
    </div>
  </body>
</html>