<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Town</title>
  </head>
  <body>
    <div id="Caffre">
        <h3>Caffre </h3>
            <ol>
                <li>Origine</li>
                <p>
                    Les Caffres sont originaire d'Afrique du Sud. Ils arrivent sur l'île Bourbon soit en tant qu'esclave,
                    soit en tant qu'engagé mais ces cas sont très rare. Les esclaves sont nombreux a périr sur les navires.
                    Souvent à cause des rudes conditions qu'ils ont lors de la traversé de l'océan.
                </p>
                <li>Caractéristique physique</li>
                <p>
                    Ils ont une peau bleue, noir. Les différentes épreuves qu'ils réalisé pour arriver jusqu'ici leurs a rendu résistant aux différents épreuve que leurs réserve leurs nouvelles vies. <br>
                    Ils ont les cheveux crépus, nez épatés. Moyennement grands, leurs muscles sont raffinés.
                </p>
                <li>Culture</li>
            </ol>
    </div>
    
    <div>
        <h3>Malgache</h3>
        <ol>
            <li>Origine</li>
            <p>Né sur l'île de Madagascars, Les premiers  Malagaches sont arrivé en même temps que les colons français. Il s'agit principalement de femmes qui ont été séléctionner afin de peupler l'île Bourbon.
                Suite à cela les Malgaches sont arrivé principalement en tant qu'engagé.
            </p>

            <li>Caractéristiques physique</li>
                <p>
                   ils ont couleurs de peau sombre, noir, nommé bleu par les autres. Leurs cheveux sont frisés, et les lévres sont épaisses.
                   Leurs corps se retrouvé très résistances hommes comme femmes.
                </p>
            <li>Culture</li>
        </ol>

    </div>

        <div class="YAB">
        <h3>Yab</h3>
        <ol>
            <li>Origine</li>
            <p>
            </p>

            <li>Caractéristiques physique</li>
                <p>

                </p>
            <li>Culture</li>
        </ol>
    </div>
    
    <div>
        <p>

        </p>
    </div>
  </body>
</html>